<p class="Header-title">Sign-In!</p>
<hr>

<section class="NewUsers">
  <%= form_with url: sessions_path do |form| %>
    <div class="Form-section">
      <p class="Form-input-label">Email:</p>
      <%= form.email_field :email, class: "Form-input", required: true %>
    </div>
    <div class="Form-section">
      <p class="Form-input-label">Password:</p>
      <%= form.password_field :password, class: "Form-input", required: true %>
    </div>

    <div class="Form-section">
      <%= form.submit "Sign-in!", class: "Form-submit" %>
    </div>
  <% end %>

</section>
