<article>
  <h1 class="TodoPage-title">My To-do List</h1>

  <section class="AddTodo">
    <input type="text" class="AddTodo-text" placeholder="What's next?" />
    <input type="date" class="AddTodo-date" placeholder=" " />
    <input type="button" class="AddTodo-button" value="Add" />
  </section>

  <!-- Section for Overdue -->
  <%= render partial: "todo-section", locals: {
               section_title: "Overdue",
               todos: Todo.overdue,
               show_due_date: true
             } %>
  <!-- End of Overdue -->

  <!-- Section for Due today -->
  <%= render partial: "todo-section", locals: {
               section_title: "Due Today",
               todos: Todo.due_today,
               show_due_date: false
             } %>
  <!-- End of Due today -->

  <!-- Section for Remaining -->
  <%= render partial: "todo-section", locals: {
               section_title: "Remaining",
               todos: Todo.due_later,
               show_due_date: true
             } %>
  <!-- End of Remaining -->
</article>
