.Header-title {
  font-size: 34px;
  margin-bottom: 25px;
  text-align: center;
  color: gray;
}

hr {
  border-top: 1.5px solid gray;
  margin-bottom: 35px;
}

.Home-authenticate {
  margin-left: 20%;
  font-size: 16px;
  list-style: disc;
}

.Home-authenticate > li {
  margin-bottom: 10px;
  font-size: 18px;
}

.Flash-error {
  color: darkred;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: #ffb6b6;
  padding: 5px;
  border-radius: 2px;
  display: table;
}

.Flash-welcome {
  background-color: rgba(83, 216, 139, 0.5);
  margin-bottom: 10px;
  font-size: 20px;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  color: green;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
