/* Typography scale */
/* 48 34 24 20 16 (px) */

body {
  font-family: "Open Sans", sans-serif;
  max-width: 580px;
  margin: 0 auto;
  margin-top: 32px;
}

article {
  margin-left: 32px;
}

/* main heading */
.Title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.TodoPage-title {
  font-size: 28px;
  line-height: 1.6;
  font-weight: 600;
  color: #453c52;
}

.Sign-out-button {
  background-color: rgb(192, 255, 187);
  padding: 6px 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid transparent;
}

.Sign-out-button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px grey;
  background-color: lightgreen;
}

.Sign-out-button:active {
  background-color: rgb(53, 216, 53);
  box-shadow: 2px 2px 5px grey;
  transform: translateY(2px);
}

/* add todo input tags css */
.AddTodo {
  display: flex;
  height: 32px;
  justify-content: space-between;
  margin-bottom: 24px;
  color: #453c52;
}

.AddTodo-text {
  padding: 6px 12px;
  font-size: 14px;
  color: #453c52;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #bfb8cc;
  width: 100%;
}

.AddTodo-date {
  padding: 6px;
  font-size: 14px;
  color: #453c52;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #bfb8cc;
  width: 100%;
}

.AddTodo-button {
  padding: 6px 22px;
  font-size: 14px;
  color: white;
  background-color: #48bb78;
  border-radius: 4px;
  border: 1px solid transparent;
  width: 30%;
}

.AddTodo-button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px grey;
  background-color: #46a36d;
}

.AddTodo-button:active {
  background-color: #3e8e41;
  box-shadow: 2px 2px 5px grey;
  transform: translateY(2px);
}
/* ********** */

/* todo texts (each section)*/
.TodoSection {
  margin-bottom: 20px;
}

.TodoSectionTitle {
  display: flex;
  color: #453c52;
  align-items: center;
  margin-bottom: 8px;
}

.TodoSectionTitle-text {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 600;
  margin-right: 8px;
  color: #453c52;
}

/* overdue and completed todos - hidden until link clicked */
.remaining-todos,
.Hide-remaining-todos {
  display: none;
}

ul.remaining-todos-list {
  list-style: circle;
  margin-left: 22px;
}
/* *** */

.TodoSectionTitle-remainingCount {
  font-size: 12px;
}

ul {
  list-style: none;
}

.TodoItem {
  font-size: 14px;
  margin-left: 8px;
  margin-bottom: 6px;
  color: #453c52;
}

.TodoItem-container {
  display: inline-flex;
  padding: 2px 8px;
  align-items: center;
}

.TodoItem-container:hover {
  background: #f1edf7;
  border-radius: 4px;
  cursor: pointer;
}

.TodoItem-checkbox {
  width: 16px;
  height: 16px;
  margin-right: 6px;
  border-color: #bfb8cc;
}

.TodoItem-checkbox:hover {
  cursor: pointer;
}

.TodoItem-dueDate {
  margin-left: 10px;
  color: #726a7e;
  font-size: 10px;
}

.TodoItem-delete {
  margin-left: 8px;
  visibility: hidden;
}

.icon {
  width: 20px;
  /* fill: #453C52; */
  filter: invert(19%) sepia(24%) saturate(587%) hue-rotate(222deg)
    brightness(103%) contrast(87%);
}

.TodoItem-container:hover .TodoItem-delete {
  visibility: visible;
}
/* ********************** */

/* media queries for ipad */
@media only screen and (max-width: 770px) and (min-width: 481px) and (min-height: 600px) and (max-height: 1024px) {
  article {
    margin-right: 32px;
  }

  body {
    max-width: 680px;
    margin: 0 auto;
    margin-top: 30px;
    align-items: center;
  }

  .Sign-out-button {
    font-size: 26px;
  }

  .TodoPage-title {
    font-size: 50px;
  }

  /* add todo input tags css */
  .AddTodo {
    margin-bottom: 36px;
  }

  .AddTodo-text,
  .AddTodo-date {
    font-size: 20px;
    height: 30px;
  }

  .AddTodo-button {
    width: 50%;
    padding: 0px;
    font-size: 20px;
    height: 44px;
  }
  /* ************ */

  /* todo texts (each section)*/
  .TodoSection {
    margin-bottom: 30px;
  }

  .TodoSectionTitle {
    font-size: 24px;
  }

  .TodoSectionTitle-text {
    font-size: 26px;
  }

  .TodoSectionTitle-remainingCount {
    font-size: 16px;
  }

  .TodoItem {
    font-size: 22px;
    margin-left: 8px;
    margin-bottom: 12px;
  }

  .TodoItem-checkbox {
    width: 24px;
    height: 24px;
  }

  .TodoItem-dueDate {
    margin-left: 10px;
    font-size: 14px;
  }

  .TodoItem-delete {
    visibility: visible;
  }

  .icon {
    width: 30px;
    /* fill: #644097; */
    filter: invert(30%) sepia(18%) saturate(2559%) hue-rotate(226deg)
      brightness(89%) contrast(90%);
  }
}
/* **************** */

/* media queries for mobile */
@media only screen and (max-width: 480px) {
  article {
    margin-right: 20px;
    margin-left: 20px;
  }

  body {
    max-width: unset;
    margin: 0 auto;
    margin-top: 30px;
    align-items: center;
  }

  .TodoPage-title {
    font-size: 20;
  }

  .Sign-out-button {
    font-size: 14px;
  }

  .TodoItem-delete {
    visibility: visible;
  }

  .icon {
    /* fill: #644097; */
    filter: invert(30%) sepia(18%) saturate(2559%) hue-rotate(226deg)
      brightness(89%) contrast(90%);
  }
}
/* **************** */
