/* Typography scale */
/* 48 34 24 20 16 (px) */

body {
  font-family: sans-serif;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 32px;
}

/* for text */
.TodoPage-title {
  font-size: 48px;
  line-height: 1.6;
  color: #453c52;
}

.TodoSection-title {
  font-size: 34px;
  line-height: 1.4;
  color: #453c52;
}

.TodoSection-todo {
  font-size: 20px;
  line-height: 1.2;
  margin-left: 32px;
  color: #453c52;
}
/* ******* */

/* for layout b/w two days*/
.TodoSection {
  margin-bottom: 32px;
  margin-left: 32px;
}
