<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Todo Manager App</title>
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="my-app.css" />
  </head>

  <body>
    <h1>My Todo-list</h1>

    <article>
      <section>
        <h2>Due today</h2>
        <p>submit assignment</p>
        <p>call acc</p>
      </section>

      <section>
        <h2>Due tomorrow</h2>
        <p>refill groceries</p>
      </section>

      <section>
        <h2>Remaining</h2>
        <p>type something</p>
        <p>type something</p>
        <p>type something</p>
      </section>
    </article>
  </body>
</html>
